<html>

<head>
    <meta charset="utf-8">
    <title>project</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">


    <link href="/static/styles/start.css" rel='stylesheet' type='text/css'>

</head>

<body>
    <div class="main-bar">
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
            <span></span>
            <span></span>
            <span></span>
          </label>
            <div class="logo-header">
                <a href="#">Project </a>
            </div>
            <ul>
                <li><a href="#">Home</a></li>
                <!-- <li><a href="#About">About us</a></li> -->
                <li><a href="#Abstract">Abstract</a></li>
                <li><a href="#Team">Team</a></li>
                <li><a href="/login">Login/Register</a></li>


            </ul>
        </nav>


    </div>

    <section class="banner">
        <div class="background">
            <div class="transbox">

                <h3 class="pdy">DEEP LEARNING FOR STOCK PRICE PREDICTION USING NUMERICAL INFORMATION</h3>
            </div>
        </div>
        <!-- <div>

            <img src="/static/images/background.jpg">
           
        </div> -->
    </section>

    <section class="Abstract-section" id="Abstract">
        <div class="container1">
            <h1>Abstract</h1>
            <hr/>
            <br>
            <p> Stock Price Prediction using deep learning helps you discover the future value of company stock and other financial assets traded on an exchange. The entire idea of predicting stock prices is to gain significant profits. Predicting how the
                stock market will perform is a hard task to do. There are other factors involved in the prediction, such as physical and psychological factors, rational and irrational behaviour, and so on. All these factors combine to make share prices
                dynamic and volatile. This makes it very difficult to predict stock prices with high accuracy. The goal of our project “Deep Learning For Stock Price Prediction Using Numerical Information” is to implement a deep learning technique (LSTM)
                to predict the stock price. Predicting stock price is a supervised learning regression problem. There are several ML regression algorithms available for regression problems, but regression algorithms may not efficiently handle time series
                data. So, in this project we are proposing deep learning techniques for stock price prediction. The end result of our project is to improve the quality of output of stock market predicted by using stock value. In this project we propose
                deep learning techniques such as LSTM and RNN for stock price prediction.</p><br>

        </div>

    </section>
    <div class="Team-section" id="Team" class="padding">

        <!-- <div class="container1">
            <p><i style="font-size: 40px;">Team Members</i></p>
            <hr style="background: black;">
        </div> -->


        <div class="testimonials">
            <div class="card">
                <div class="layer"></div>
                <div class="content">
                    <span>Name:-</span>
                    <p>PALAPARTHI VENNELA</p>
                    <span>College:-</span>
                    <p>Aditya College Of Engineering</p>
                    <span>Branch:-</span>
                    <p>C.S.E</p>
                    <div class="image">
                        <img src="/static/images/19MH1A0540.jpg" style="width:180px">
                    </div>
                    <div class="details">
                        <h3><br><span>19MH1A0540</span></h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="testimonials">
            <div class="card">
                <div class="layer"></div>
                <div class="content">
                    <span>Name:-</span>
                    <p>A.T.R.TEJA</p>
                    <span>College:-</span>
                    <p>Aditya College Of Engineering</p>
                    <span>Branch:-</span>
                    <p>C.S.E</p>
                    <div class="image">
                        <img src="/static/images/19mh1a0504.jpg" style="width:180px">
                    </div>
                    <div class="details">
                        <h3><br><span>19MH1A0504</span></h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="testimonials">
            <div class="card">
                <div class="layer"></div>
                <div class="content">
                    <span>Name:-</span>
                    <p>GEDDAMURI NAVEEN</p>
                    <span>College:-</span>
                    <p>Aditya College Of Engineering</p>
                    <span>Branch:-</span>
                    <p>C.S.E</p>
                    <div class="image">
                        <img src="/static/images/19mh1a0517.jpg" style="width:180px">
                    </div>
                    <div class="details">
                        <h3><br><span>19MH1A0517</span></h3>
                    </div>
                </div>
            </div>
        </div>


        <div class="testimonials">
            <div class="card">
                <div class="layer"></div>
                <div class="content">
                    <span>Name:-</span>
                    <p>SAI KEERTHANA MADDILA</p>
                    <span>College:-</span>
                    <p>Aditya College Of Engineering</p>
                    <span>Branch:-</span>
                    <p>C.S.E</p>
                    <div class="image">
                        <img src="/static/images/19mh1a0547.jpeg" style="width:180px">
                    </div>
                    <div class="details">
                        <h3><br><span>19MH1A0547</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>


</body>

</html>