html,
body {
    height: 100%;
}

body {
    background-image: url('https://img.freepik.com/premium-photo/blue-abstract-wall-wave-architecture-abstract-background-3d-rendering-blue-background-presentation_41204-14120.jpg?w=900');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-group {
    padding: 50px;
}

textarea {
    margin-top: 15px;
    /* width: 50px;
    height: 150px; */
}

h5,
h3,
h4 {
    color: white;
}

.openList {
    font-size: larger;
}

.navbar-brand {
    font-size: xx-large;
    text-align: center;
    margin-left: 180px;
    padding: 20px;
}


/* h1 {
    text-align: center;
} */


/* 
.btn {
    width: 100%;
    border: black;
    padding: 10px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #e8e9ec;
    color: #777;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0;
    letter-spacing: 0.9px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    text-align: center;
    font-size: 15px;
}

.btn:hover {
    font-style: italic;
    color: white;
    font-size: 17px;
    background: black;
} */